.page-header-archive {
    position: relative;
    background-color: black;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.4;
        z-index: 1;
    }

    & > * {
        position: relative;
        z-index: 10;
    }

    .page-title {
        color: white;
        font-weight: bold;
    }
}