body {
  .bb-footer {
    background-color: black;
  }
}


.user-wrap {
  .user-link {
    color: $color__link-menu;
  }

  &:hover {
    .user-link {
      color: $color__main; 
    }  
  }
}

#bb_most_viewed-2 {
  .trending-posts {
    .trending-title {
      display: none;
    }
  }
}

.w-100 {
  width: 100%;
}

#buddypress {

  #header-cover-image {
    .cover-large {
      height: 350px;
    }
  }
}

.post-inner-wrap {
  min-height: 525px;
}

.post-grid .entry-header {
  margin-bottom: 1.25rem;
  min-height: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-header-archive {
  padding-top: 76px;
  margin-bottom: -76px;
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bb-share-container {
  margin-left: 0 !important;
}