.tabs {
  overflow: hidden;

  .controls {
    display: flex;
    flex-wrap: wrap;

    .active {
      opacity: 1;
    }

    button {
      flex: 1;
      border-radius: 0;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      svg {
        width: 15px;
        margin-right: 5px;
      }
    }
  }

  .tabs-container {
    display: flex;
    flex-wrap: nowrap;
    transform: translatex(0);
    transition: all 0.2s linear;

    .tab {
      padding: 20px 0;
      width: 100%;
      flex-shrink: 0;

      @media (min-width: $breakpoint-desktop){
        padding: 40px;
      }
    }
  }
}

.iframe-container-apple, .iframe-container-spotify, .iframe-containe-soundcloud {
  overflow: hidden;
  padding-top: 446.667px;
  position: relative;

  iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
  }
}

.iframe-container-bandcamp {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9*/
  position: relative;
  
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.bp-profile-content {
  overflow: hidden;

  @media (max-width: $breakpoint-mobile){
    padding: 0 10px 30px !important;
  }
}

.tiktok {
  svg {
    background: #939597;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    path {
      fill: white !important;
      transform: scale(0.65) translate(25%, 25%);
    }
  }
}