.page-template-page-magazine {
  .buddypanel {
    display: none;
  }

  .magazine-logo {
    width: 120px;
    height: auto;
  }

  .site-header {
    width: 100% !important;
  }

  .site {
    margin-left: 0;
  }

  .site-content {
    padding: 0px !important;
  }
}


section {
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.magazine-menu {
  margin: 0 auto;
}


.slider-hero {
  overflow: hidden;

  
  .slide-information {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 650px;
    display: flex;
    align-items: center;
    
    @media (max-width: $breakpoint-mobile){
      min-height: 500px;

      .container {
        margin-top: 40px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.4;
      z-index: 1;
    }
  
    & > * {
      position: relative;
      z-index: 12;
    }
  
  }

  small {
    color: white;
  }
    

  .slide-title {
    font-size: 60px;
    line-height: 72px;

    @media (max-width: $breakpoint-mobile) {
      font-size: 45px;
      line-height: 47px;
      margin-bottom: 0.5rem;
    }

    a {
      color: white;
    }
  }

  .category-slider {
    a {
      color: white;
      padding: 5px;
      background-color: $color__main;
    }
    margin-bottom: 20px;
  }
}

.container-slider-parent {
  margin-top: -95px;
}

// .nav-slider-parent-container {

//   .slider-nav-col {
//     .slider-nav-category a , .slide-title a {
//       transition: all 0.4s ease;
//     }

//     background-color: white;
//     padding: 15px;
//     border-bottom: 3px solid $color__main;
//     border-right: 1.3px solid $color__grey;
//     position: relative;
//     cursor: pointer;

//     &:last-child {
//       border-right: none;
//     }

//     &::before {
//       content: "";
//       position:absolute;
//       top: 0;
//       left: 0;
//       background-color: black;
//       width: 100%;
//       height: 100%;
//       opacity: 0.4;
//       z-index: 2;
//       visibility: hidden;
//     }

//     & > * {
//       position: relative;
//       z-index: 99;
//     }

//     h2 {
//       color: $color__grey;
//     }

//     a {
//       color: $color__main;
//     }

//     .slide-title a {
//       color: $color__grey;
//     }
    
//     &:hover {

//       &::before {
//         visibility: visible;
//       }

//       .overlay-slider-nav {
//         opacity: 1;
//         visibility: visible;
//      }

//      .slider-nav-category a {
//        color: white;
//      }
//      .slide-title a{
//        color: white;
//      }

//     }
//   }

//   .overlay-slider-nav {
//     background-size: cover;
//     background-position: center;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     visibility: hidden;
//     opacity: 0;
//     transition: all 0.4s ease;
//     z-index: 1;
//   }

// }

.container-magazine-parent {
  margin-top: -135px;
}

.nav-magazine-parent-container {
  .inner-magazine-nav {
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 3px solid $color__main;
    border-right: 1.3px solid $color__grey;
    min-height: 250px;

    &:last-child {
      border-right: none;
    }

    a {
      color: white;
      padding: 5px;
      background-color: $color__main;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeUpAjax {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(0);
  }
}

.magazine-tabs {

  .features-mobile {
    h3 {
      color: $color__main;
      font-size: 1.50rem;
    }
  }

  .load-more {
    background-color: $color__main;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    
    @media (max-width: $breakpoint-mobile) {
      font-size: 1.25em;
      font-weight: 600;
    }
  }

  .ajax-load {
    position: relative;
    width: 1em;
    height: 1em;
    margin-left: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    margin-left: -1.25em;

    @media (min-width: $breakpoint-desktop){
      margin-left: -1em;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .ajax-loading {
    font-size: 1.25em;
    margin-left: 5px;
    opacity: 1;
    visibility: visible;
    animation: rotating 0.5s linear infinite,fadeUpAjax 0.5s linear;
  }

  .tab-controls {
    border-bottom: 1px solid $color__grey;

    .heading-tabs {
      h3 {
        font-size: 1.5rem;
        color: red;
      }
    }

    .category {
      padding: 30px 5px;
      margin-left: 20px;
      transition: all 0.4s linear;
      cursor: pointer;
      font-weight: 900;
      @media (max-width: $breakpoint-mobile){
        padding: 4px 10px;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .active-tab {
      border-bottom: 3px solid $color__main;
    }
  }

  .tab-posts {
    padding: 40px 0;
  }

  .post-column {

    .tab-post-title a {
      color: $color__grey;
    }

  }
}

.post-column:nth-child(even) .tab-post-thumbnail img {
  min-height: 400px;
  object-fit: cover;
  object-position: center;
}

.tab-post-thumbnail{
  overflow: hidden;

  img {
    transition: all 0.3s linear;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.preloader-magazine{
  max-height: 100px;

  &::after{
    content: url('data:image/svg+xml,<svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M3.17 6.706a5 5 0 0 1 7.103-3.16.5.5 0 1 0 .454-.892A6 6 0 1 0 13.455 5.5a.5.5 0 0 0-.91.417 5 5 0 1 1-9.375.789z"/> <path fill-rule="evenodd" d="M8.147.146a.5.5 0 0 1 .707 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 1 1-.707-.708L10.293 3 8.147.854a.5.5 0 0 1 0-.708z"/></svg>');
    display: flex;
    width: 100%;
    height: 100%;
    fill: $color__main;
    justify-content: center;
    animation: rotating .5s linear infinite;
  }
}

.videos-magazine-section {
  background-color: black;
  padding: 50px 0;

  .title-video-releases {
    text-align: center;
    color: white;
    font-size: 40px;

    @media (max-width: $breakpoint-mobile){
      font-size: 24px;
    }
  }
}


.videos-parent-image {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 450px;
  @media (max-width: $breakpoint-mobile) {
    height: 250px;
    padding: 20px;
  }


  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
  }


  & > * {
    position: relative;
    z-index: 10;
  }

  a {
    color: white;
    font-size: 30px;

    @media (max-width: $breakpoint-mobile){
      font-size: 24px;
    }
  }
}


.videos-child-container {
  margin-top: -70px;

  .slick-slide {
    margin: 0 40px;
  }
}

.video-slide-nav {
  position: relative;

  img {
    height: 120px;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .play-button-magazine {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.recent-posts-section {
  padding: 20px 0;

  .recent-posts-title {
    @media (max-width: $breakpoint-mobile) {
      font-size: 1.50rem;
      font-weight: 900;
    }
  }

  .post-title {
    color: $color__grey;
  }
}

.featured-image-recent-post {
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    @media (min-width: $breakpoint-desktop){
      height: 250px;
    }
  }
}

.trending-posts-container {
  .trending-thumbnail {
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;

      @media (min-width: $breakpoint-desktop){
        height: 100px;
      }
    }
  }
}

.column-categories {
  .col-md-6 {
    min-height: 920px;
  }
  
  .column-category {
    @media (min-width: $breakpoint-desktop){
      min-height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .category {
      color: white;
      background-color: $color__main;
      padding: 5px 10px;
    }
  }
}

.newsletters {
  text-align: center;
  
  #mail {
    border: none;
  }

  .input-mail {
    border-bottom: 1px solid $color__grey;
  }

  input[type='submit']{
    margin-left: 10px;
  }
}