.modal-dialog.custom-modal {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  padding: 20px;
}

.custom-modal p {
  margin: 0;
}

.stream-template-default .bb-share-container {
  left: -70px;
}